
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-589759277980189461.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-589759277980189461.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-589759277980189461.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-589759277980189461.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-589759277980189461.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-589759277980189461.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-589759277980189461.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-589759277980189461.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-589759277980189461.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-589759277980189461.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-589759277980189461.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-589759277980189461.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-589759277980189461.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-589759277980189461.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-589759277980189461.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-589759277980189461.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-589759277980189461.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-589759277980189461.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-589759277980189461.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-589759277980189461.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-589759277980189461.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-589759277980189461.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-589759277980189461.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-589759277980189461.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-589759277980189461.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-589759277980189461.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-589759277980189461.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-589759277980189461.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-589759277980189461.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-589759277980189461.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-589759277980189461.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-589759277980189461.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-589759277980189461.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-589759277980189461.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-589759277980189461.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-589759277980189461.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-589759277980189461.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-589759277980189461.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-589759277980189461.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-589759277980189461.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-589759277980189461.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-589759277980189461.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-589759277980189461.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-589759277980189461.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-589759277980189461.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-589759277980189461.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-589759277980189461.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-589759277980189461.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-589759277980189461.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-589759277980189461.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-589759277980189461.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-589759277980189461.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-589759277980189461.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-589759277980189461.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-589759277980189461.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-589759277980189461.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-589759277980189461.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-589759277980189461.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-589759277980189461.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-589759277980189461.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-589759277980189461.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-589759277980189461.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-589759277980189461.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-589759277980189461.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-589759277980189461.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-589759277980189461.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-589759277980189461.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-589759277980189461.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-589759277980189461 .gp-relative{position:relative}.gps-589759277980189461 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-589759277980189461 .gp-mb-0{margin-bottom:0}.gps-589759277980189461 .gp-inline-block{display:inline-block}.gps-589759277980189461 .gp-flex{display:flex}.gps-589759277980189461 .gp-grid{display:grid}.gps-589759277980189461 .gp-contents{display:contents}.gps-589759277980189461 .\!gp-hidden{display:none!important}.gps-589759277980189461 .gp-hidden{display:none}.gps-589759277980189461 .gp-h-auto{height:auto}.gps-589759277980189461 .gp-h-full{height:100%}.gps-589759277980189461 .gp-w-full{width:100%}.gps-589759277980189461 .gp-max-w-full{max-width:100%}.gps-589759277980189461 .gp-flex-none{flex:none}.gps-589759277980189461 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-589759277980189461 .gp-flex-col{flex-direction:column}.gps-589759277980189461 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-589759277980189461 .gp-duration-200{transition-duration:.2s}.gps-589759277980189461 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-589759277980189461 .tablet\:\!gp-hidden{display:none!important}.gps-589759277980189461 .tablet\:gp-hidden{display:none}.gps-589759277980189461 .tablet\:gp-h-auto{height:auto}.gps-589759277980189461 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-589759277980189461 .mobile\:\!gp-hidden{display:none!important}.gps-589759277980189461 .mobile\:gp-hidden{display:none}.gps-589759277980189461 .mobile\:gp-h-auto{height:auto}.gps-589759277980189461 .mobile\:gp-flex-none{flex:none}}.gps-589759277980189461 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmqVtj-3Zy"}' data-id="gmqVtj-3Zy" id="gmqVtj-3Zy" data-same-height-subgrid-container class="gmqVtj-3Zy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-5xl);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9GkRyg0no gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsFZx2Fpuo"}' data-id="gsFZx2Fpuo" id="gsFZx2Fpuo" data-same-height-subgrid-container class="gsFZx2Fpuo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gl3bMB6pge gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g284F1CruU"
        class="g284F1CruU"
        style="--ta:left;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761053848545"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg284F1CruU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqHlEU4njJ"
        class="gqHlEU4njJ"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761053848546"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqHlEU4njJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBwnQU3pg-"
        class="gBwnQU3pg-"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761053848547"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBwnQU3pg-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJKcxkrblv"
        class="gJKcxkrblv"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761053848548"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJKcxkrblv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7Xpf9e9y6"
        class="g7Xpf9e9y6"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761053848549"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7Xpf9e9y6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gc1Jq6zfhh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gK-buOJk36"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(undefined);--ta:left"
      class="gp-group/image gp-relative force-publish-1761053848549 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gK-buOJk36"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTg1NS0xMDcxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4NTUiIGhlaWdodD0iMTA3MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIGZpbGw9InVybCgjZy04NTUtMTA3MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTg1NSIgdG89Ijg1NSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTg1NS0xMDcxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4NTUiIGhlaWdodD0iMTA3MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIGZpbGw9InVybCgjZy04NTUtMTA3MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTg1NSIgdG89Ijg1NSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTg1NS0xMDcxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4NTUiIGhlaWdodD0iMTA3MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjEwNzEiIGZpbGw9InVybCgjZy04NTUtMTA3MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTg1NSIgdG89Ijg1NSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="https://ucarecdn.com/966f6f48-d24e-47ce-b5b0-7176002b88b9/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-589759277980189461 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eirxgi-gd/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=589759269591581461&sectionId=589759277980189461)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg284F1CruU_text","label":"gg284F1CruU_text","default":"<p>An advanced skincare backed by science.</p>"},{"type":"html","id":"ggqHlEU4njJ_text","label":"ggqHlEU4njJ_text","default":"<p>Mission &amp; Vission</p>"},{"type":"html","id":"ggBwnQU3pg-_text","label":"ggBwnQU3pg-_text","default":"<p>Our mission is to improve skin health. Dedicated to this purpose, we make one simple promise—to provide advanced skincare backed by science.<br><br>Born from decades of skin cancer research that led to pivotal breakthroughs in antioxidants, our high potency formulas are concentrated in pure actives and proven to penetrate optimally into skin.</p>"},{"type":"html","id":"ggJKcxkrblv_text","label":"ggJKcxkrblv_text","default":"<p>Our Impact</p>"},{"type":"html","id":"gg7Xpf9e9y6_text","label":"gg7Xpf9e9y6_text","default":"<p>We has partnered with ReSurge International to advance first-generation women reconstructive surgeons in underserved parts of the world.&nbsp;<br><br>Together, we created the Pioneering Women in Reconstructive Surgery (PWRS) initiative to support these inspiring women through surgical training, leadership development and mentorship networking.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  